*.jl
.scrapy/
_epub/*.epub
_html/*.html
_images/full/
_iwata.html
_iwata.md
_md/*.md
get_all_test.sh
iwata-eu-test.csv
iwata-us-list.xml
iwata/__pycache__/
iwata/spiders/__pycache__/
iwata/spiders/iwata-eu-list.py
iwata/spiders/iwata-eu-old.py
iwata/spiders/iwata-jp-old.py
iwata/spiders/iwata-us-list.py
list.md
README_TEMP.md
to_epub_test.sh
