.scrapy/
iwata/__pycache__/
iwata/spiders/__pycache__/
_md/*.md
_html/*.html
_images/full/
_iwata.html
_iwata.md
*.jl
README_TEMP.md
list.md
iwata-us-list.xml
iwata/spiders/iwata-eu-list.py
iwata/spiders/iwata-eu-old.py
iwata/spiders/iwata-jp-old.py
iwata/spiders/iwata-us-list.py
iwata-asks-downloader-output.7z
iwata-eu-test.csv
get_all_test.sh
_epub/
_pdf/
to_epub_test.sh
